$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/
$w: #F5F6E8;
$g1: #2E2D2B;
$g2: #292826;
$g3: #242321;
$g4: #1F1F1D;
$g5: #1A1A18;
$g6: #141413;
$accent: #6251A2;




/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

h1, h2, h3, h4, h5, p, a, button{
    color: $w;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    background: $g2;
}

.page-content{
    max-width: 1400px;
    margin: 20px auto;
}

.dropdown-toggle::after {
    content: unset;
}

#nav{
    background: $g5;
    #nav-items {
        display: flex;
        align-items: center;
        button {
            text-decoration: none;
        }
        a {
            color: $w;
        }
    }
}

.modal-content {
    background: $g6;
    .modal-header{
        border-bottom: solid $g5 2px;
        button.btn-close{
            color: $w;
        }
    }
    .modal-body{
        color: $w;
        input, .form-select{
            background: $g4;
            color: $w;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
    .modal-footer{
        border-top: solid $g5 2px;
        button {
            padding: 5px 10px;
            border-radius: 10px;
            border: none;
        }
        .cancel{
            background: $g1;
        }
        .submit{
            background: $accent;
        }
    }
}

.offcanvas{
    background: $g2;
    .list-group-item{
        background: $g4;
        color: $w;
        border: none;
    }
    .offcanvas-button{
        background: $accent;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
    }
}

#eventDropdown, #recipientDropdown {
    padding-top: 8px;
}

.dropdown-menu{
    background: $g6;
    .dropdown-item {
        color: $w;
    }
}
.dropdown-item:hover{
    background: $accent;
}

h3 {
    font-size: 22px;
    text-align: center;
}

.home_content{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    //margin: 20px;
    .home_panel{
        border-radius: 10px;
    }
    .home_left {
        width: 65%;
    }
    .home_right{
        width: 25%;
    }
    .background{
        background: $g5;
        padding: 10px;
    }
}


.event_list{
    display: flex;
    gap: 15px;
    .event{
        border-radius: 10px;
        border: none;
        border-radius: 10px;
        background: $g5;
        padding: 5px 20px 30px 20px;
    }
}
.button-wrapper{
    display: flex;
    justify-content: center;
    .button{
        margin-top: 20px;
        text-decoration: none;
        text-align: center;
        padding: 5px 20px;
        width: 40%;
        background: $accent;
        border-radius: 10px;
    }
}

.participants{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    .add-participant{
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        background: $g6;
        width: 92.6px;
        height: 92.6px;
        font-size: 30px;
    }
    .participant{
        height: 92.6px;
        padding: 0 15px 15px 15px;
        background: $g6;
        color: $w;
        border-radius: 10px;
        margin-top: 10px;
        h4{
            font-size: 18px;;
        }
        p{
            font-size: 12px;
        }
    }
}
.name{
 text-align: center;
}

.dots{
    color: #A7A8A3;
}

.people_list{
    display: flex;
    gap: 15px;
    .people{
        border: none;
        background: $g6;
        border-radius: 10px;
        padding-bottom: 30px;
    }
}

.dropdown {
    text-align: right;
    .dropdown-toggle{
        padding-top: 0;
        padding-right: 0;
        border: none;
    }
}

.delete-checkbox-wrapper{
    width: 40px;
    margin-left: 20px;
    .delete-checkbox{
        width: 20px;
        height: 20px;
    }
}

.wish-list {
    display: flex;
    gap: 10px;
    .wish-list-item-wrapper{
        background: $g5;
        padding: 5px;
        border-radius: 5px;
        height: 150px;
        .wish-list-item {
            .img-thumbnail {
                height: auto;
                width: 150px;
            }
        }
    }
}
.wish-list-button-group{
    display: flex; 
    flex-flow: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    .wish-list-button {
        text-decoration: none;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        background: $accent;
    }
}

