$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/
$w: #F5F6E8;
$w2: #DADBCE;
$w3: #706E68;
$g1: #2E2D2B;
$g2: #292826;
$g3: #242321;
$g4: #1F1F1D;
$g5: #1A1A18;
$g6: #141413;
// $purple: #6251A2;
$purple: #5D4D99;
$purple2: #7560C0;
$green: #2C7A63;
$green2: #36A379;




/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }

h1, h2, h3, h4, h5, p, a, button{
    color: $w;
}
.w2 {
    color: $w2;
}
.green-button{
    background-image: linear-gradient(to bottom, $green, $green2);
}
.purple-button{
    background-image: linear-gradient(to bottom, $purple, $purple2);
}
.green-button, .purple-button{
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 15px;
    text-align: center;
}
.green-button:hover, .purple-button:hover{
    color: white;
    transform: scale(1.01);
    transition: 0.2s;
}
.green-button:hover{
    background-image: linear-gradient(to bottom, $green2, $green);
}
.purple-button:hover{
    background-image: linear-gradient(to bottom, $purple2, $purple);
}

.small-card{
    background-image: linear-gradient(to bottom, $g6, $g5);
    color: $w;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.add-item{
    font-size: 24px;
    padding: 40px 60px;
}

.add-item:hover{
    background-image: linear-gradient(to bottom, $g5, $g6);
    transform: scale(1.01);
    transition: 0.2s;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
    //background: $g3;
    background-image: linear-gradient(to bottom right, $g2, $g6);
}

.page-content{
    max-width: 1400px;
    margin: 20px auto;
}

.dropdown-toggle::after {
    content: unset;
}

#nav{
    background: $g6;
    #nav-items {
        display: flex;
        align-items: center;
        button {
            text-decoration: none;
        }
        a {
            color: $w;
        }
    }
}

.modal-content {
    background: $g6;
    .modal-header{
        border-bottom: solid $g5 2px;
        button.btn-close{
            color: $w;
        }
    }
    .modal-body{
        color: $w;
        input, .form-select{
            background: $g4;
            color: $w;
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
    .modal-footer{
        border-top: solid $g5 2px;
        button {
            padding: 5px 10px;
            border-radius: 15px;
            border: none;
        }
        .cancel{
            background-image: linear-gradient(to bottom, #474642, $g1);
        }
        .cancel:hover{
            background-image: linear-gradient(to bottom, $g1, #474642);
        }
        .submit{
            background-image: linear-gradient(to bottom, $green, $green2);
        }
        .submit:hover{
            background-image: linear-gradient(to bottom, $green2, $green);
        }
    }
}

.offcanvas{
    background: $g2;
    .list-group-item{
        background: $g4;
        color: $w;
        border: none;
    }
    .offcanvas-body{
        button{
            width: 100%;
        }
    }
}

#eventDropdown, #recipientDropdown {
    padding-top: 8px;
}

.dropdown-menu{
    background: $g6;
    .dropdown-item {
        color: $w;
    }
}
.dropdown-item:hover{
    background: $purple;
}

h3 {
    font-size: 22px;
    text-align: center;
}

.home-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @include lg { // 960px
        gap: 1%;
        flex-flow: row;
        align-items: flex-start;
        margin: 0 15px;
    }
    @include xxl { //1400px
        gap: 3%;
        margin: 0 30px;
    }

    .home-left {
        width: 98%;
        //margin: 40px;
        @include lg { // 960px
            width: 75%;
            margin: 0;
        }
        .event_list{
            display: flex;
            gap: 15px;
            .event{
                border-radius: 10px;
                border: none;
                background: $g4;
                padding: 5px 5px 30px 5px;
                .button-wrapper{
                    display: flex;
                    justify-content: center;
                    .button{
                        width: 238px;
                        @include lg { // 960px
                            width: 400px;
                        }   
                    }
                }

            }
        }
    }
    .home-right{
        padding: 20px;
        margin: 10px;
        @include lg { // 960px
            width: 25%;
            margin: 0;
            padding: 0;
        }
    }
    .background{
        background: $g4;
        //background-image: linear-gradient(to bottom right, $g6, $g3);
        padding: 10px;
        border-radius: 10px;
    }
}

.participants{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    .participant{
        width: 105px;
        height: 84px;
        padding: 0 2px 12.2px 2px;
        margin-top: 10px;
        @include sm { // 576px
            width: 130px;
            height: 88.2px;
        }
        @include md { // 768px
            width: 135px;
            height: 99px;
            padding: 0 2px 18.8px 2px;
        }
        h4{
            font-size: 14px;
            margin-top: -10px;
            @include sm { // 576px
                font-size: 15px;
            }
            @include md { // 768px
                font-size: 16px;
            }
        }
        p{
            font-size: 11px;
            margin: 0 8px 0 8px;
            @include sm { // 576px
                font-size: 12px;
            }
            @include md { // 768px
                font-size: 13px;
            }
        }
    }
}
.name{
 text-align: center;
}

.dots{
    color: #A7A8A3;
    margin-top: -10px;
    margin-right: 3px;
    @include md { // 768px
        margin-right: 6px;
    }
}

.people-list{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 15px;
    .people{
        width: 270px;
        padding-bottom: 30px;
        list-style: none;
    }
}

.dropdown {
    text-align: right;
    .dropdown-toggle{
        padding-top: 0;
        padding-right: 0;
        border: none;
    }
}

.delete-checkbox-wrapper{
    width: 40px;
    margin-left: 20px;
    .delete-checkbox{
        width: 20px;
        height: 20px;
    }
}

.wish-list-button-group{
    display: flex;
    flex-flow: column;
    .button{
        margin-top: 5px;
        width: 100%
    }
}

.nav{
    color: $w;
    .nav-item{
        font-size: 22px;
        .nav-link{
            color: $w;
            background: $g6;
            border-bottom: 2px solid $purple2;
            border-radius: 20px 20px 0 0;
        }
        .active{
            border: 2px solid $purple2;
            border-bottom: none;
            background: #ffffff00;
            border-radius: 20px 20px 0 0;
        }
        .add {
            color: $w3;
        }
    }
    .hanging{
        border-bottom: 2px solid $purple2;
        width: 100px;
    }
}
h5{
    span{
        color: $w;
    }
}

.gift-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
    .gift{
        text-decoration: none;
        list-style: none;
        background: $g1;
        color: $w2;
        padding: 20px;
        border-radius: 10px;
        border: none;
        height: 190px;
        .gift-box{
            height: 100%;
            display: flex;
            flex-flow: row;
            align-items: center;
            gap: 15px;
            margin-top: -20px;
            img{
                width: 150px;
            }
            .gift-info{
                display: flex;
                flex-flow: column;
            }
        }
    }
}

.empty {
    height: 500px;
    margin-top: 100px;
    text-align: center;
}

