$xs:  400px;
$sm:  576px;
$md:  768px;
$lg:  960px;
$xl:  1200px;
$xxl: 1400px;

/**
@include xs { // 400px

}
@include sm { // 576px

}
@include md { // 768px

}
@include lg { // 960px

}
@include xl { // 1200px

}
@include xxl { // 1400px

}
**/

$grey: #d8d2ce;
$light-grey: #ede7e1;



/* Mixins */
@mixin xs { @media (min-width: $xs) { @content; }}
@mixin sm { @media (min-width: $sm) { @content; } }
@mixin sm-landscape { @media (min-width: $sm) and (max-width: $md) and (orientation: landscape) { @content; } }
@mixin md { @media (min-width: $md) { @content; } }
@mixin lg { @media (min-width: $lg) { @content; } }
@mixin xl { @media (min-width: $xl) { @content; } }
@mixin xxl { @media (min-width: $xxl) { @content; } }
@mixin lt($width) { @media (max-width: $width) { @content; } }
@mixin gt($width) { @media (min-width: $width) { @content; } }
@mixin between($width1, $width2) { @media (min-width: $width1) and (max-width: $width2) { @content; } }


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page-content{
    max-width: 1400px;
    margin: 20px auto;
}

.dropdown-toggle::after {
    content: unset;
}

#nav{
    background: $grey;
    #nav-items {
        display: flex;
        align-items: center;
    }
}

#eventDropdown, #recipientDropdown {
    padding-top: 8px;
}

h3 {
    font-size: 22px;
    text-align: center;
}

.home_content{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    //margin: 20px;
    .home_panel{
        border-radius: 10px;
    }
    .home_left {
        width: 65%;
    }
    .home_right{
        width: 25%;
    }
    .background{
        background: $light-grey;
        padding: 10px;
    }
}

.event_list{
    display: flex;
    gap: 15px;
    .event{
        border-radius: 10px;
        border: none;
        border-radius: 10px;
        background: $light-grey;
        padding: 5px 20px 30px 20px;
    }
}

.participants{
    display: flex;
    flex-flow: row;
    gap: 10px;
    .participant{
        padding: 20px;
        background: #ffffff;
        border-radius: 10px;
        margin-top: 10px;
    }
}
.name{
 text-align: center;
}

.people_list{
    display: flex;
    gap: 15px;
    .people{
        border: none;
        border-radius: 10px;
        background: #ffffff;
        padding-bottom: 30px;
    }
}

.dropdown {
    text-align: right;
    .dropdown-toggle{
        padding-top: 0;
        padding-right: 0;
        border: none;
    }
}

.delete-checkbox-wrapper{
    width: 40px;
    margin-left: 20px;
    .delete-checkbox{
        width: 20px;
        height: 20px;
    }
}

.wish-list {
    display: flex;
    gap: 10px;
    .wish-list-item-wrapper{
        background: $grey;
        padding: 5px;
        border-radius: 5px;
        height: 150px;
        .wish-list-item {
            .img-thumbnail {
                height: auto;
                width: 150px;
            }
        }
    }
}

