
{% extends "base.html" %} {% load static %} {% block content %} <h1>Gift Tracker</h1>
<div class="home-content">
  <div class="home-left">
    <h3 class="fw-bold mb-3">Celebrations</h3>
    {% if events %} 
    <ul class="list-group event_list"> {% for e in events %} <li class="list-group-item event">
        <div class="dropdown">
          <button class="btn dropdown-toggle dots" type="button" data-bs-toggle="dropdown">...</button>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Edit Event', `{% url 'edit_event' e.id %}`, 'Save Changes')"> Edit</button>
            </li>
            <li>
              <button class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('/event/{{ e.id }}/delete/', 'event')"> Delete</button>
            </li>
          </ul>
        </div>
        <div>
          <h3>{{ e.event }}</h3>
        </div> {% if participants  %} 
        <div class="participants">
          {% for p in e.participants_with_totals %} 
          <div class="participant small-card">
            <div class="dropdown">
              <button class="btn dropdown-toggle dots" type="button" data-bs-toggle="dropdown">...</button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Edit Participant', `{% url 'edit_participant' p.id %}`)">Edit</button>
                </li>
                <li>
                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('/participant/{{ p.id }}/delete/', 'participant')">Delete</button>
                </li>
              </ul>
            </div>
            <div>
              <h4>{{ p.recipient.name }}</h4>
              <p class="mb-0 w2">{% if p.remaining >= 0 %}${{ p.remaining|floatformat:2 }} left in budget{% else %}-${{ p.remaining|floatformat:2|cut:"-" }} over budget{% endif %}</p>
            </div>
          </div> {% endfor %} {% endif %}
            <button class="small-card participant add-item list-group-item" style="font-size: 30px; border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Add Participant', `{% url 'add_participant' e.id %}`, 'Add')"> +</button> 
        </div>
        <div class="button-wrapper">
          <a href="{% url 'view_event' e.id %}" class="button purple-button">View Celebration</a>
        </div>
      </li> {% endfor %} {% endif %}
      {% if events %} 

        <div class="participants event">
              <button type="button" class="small-card add-item list-group-item" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Add New Event', `{% url 'add_event' %}`)">New Event +</button>
        </div> 

    </ul>
    {% else %}
      <div class="d-flex ">
            <button type="button" class="green-button" style="font-size:20px; margin: 20px auto; width:40%;" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Add New Celebration', `{% url 'add_event' %}`)">Add New Event +</button> 
      </div>
    {% endif %}
  </div>
  <div class="home-right">
    <h3 class="fw-bold mb-3">Wish Lists</h3>
    {% if recipients %} <div class="background">
      <ul class="list-group mb-3 people-list"> {% for r in recipients %} 
        <li class="list-group-item people small-card">
          <div class="dropdown">
            <button class="btn dropdown-toggle dots" type="button" data-bs-toggle="dropdown">...</button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Edit Recipient', `{% url 'edit_recipient' r.id%}`, 'Save Changes')">Edit</button>
              </li>
              <li>
                <button class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('/recipient/{{ r.id }}/delete/', 'recipient')">Delete</button>
              </li>
            </ul>
          </div>
          <div class="name">
            <h3>{{ r.name }}</h3>
          </div> {% if r.wishlist.all %} 
          <div class="wish-list-button-group">

              <a class="green-button button" data-bs-toggle="modal" data-bs-target="#addModal" onclick="giftModal('Add Item to {{ r.name }}\'s Wish List', `{% url 'add_wish_list' r.id %}`, 'Add Item')">Add items +</a>

            {% with w=r.wishlist.first %} {% if w %}<a href="{% url 'view_wish_list' w.id r.name %}" class="purple-button button"> View Wish List </a> {% endif %} {% endwith %}
          </div> 
          {% else %} 
          <div class="wish-list-button-group">
            <a class="green-button button" data-bs-toggle="modal" data-bs-target="#addModal" onclick="giftModal('Add Item to {{ r.name }}\'s Wish List', `{% url 'add_wish_list' r.id %}`, 'Add Item')">Create new wish list +</a>
          </div> {% endif %}
        </li> {% endfor %}{% endif %}
        {% if recipients %}
        <button class="list-group-item people add-item small-card" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Add New Recipient', `{% url 'add_recipient' %}`, 'Add Recipient')">Add Person +</button> 
       </ul>
    </div>
    {% else %}
    <div class="d-flex">
      <button class="green-button" style="font-size:20px; margin: 20px auto; width:90%;" data-bs-toggle="modal" data-bs-target="#addModal" onclick="openModal('Add New Recipient', `{% url 'add_recipient' %}`, 'Add Recipient')">Add Person +</button>
      {% endif %}
    </div>
  </div>
</div> {% endblock %}
